* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #9e02f9;
  font-family: Poppins;
}

body {
  background-color: #030637;    
}


/* .carousel-item img {
    height: 300px; 
    object-fit: cover;
    width: 100%;
    
} */

.card-img-overlay h1 {
    color:rgb(255, 1, 1);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 200px;
    
    
}

.card-img-overlay a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 45px;
    font-weight: bold;
    overflow: auto;
}

/* Estilo para la sección de búsqueda */
#row-search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Estilo para las cards de búsqueda */
  .search-card {
    width: 25%;
    margin-bottom: 20px;
  }
  
  /* Estilo para la imagen dentro de la card */
  .search-card img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
  
/* Estilo para el fondo del cuadro de diálogo modal */
#synopsisModal .modal-content {
    background-color: #030637;
    color: white;
  }
  
  /* Estilo para el fondo del botón de cierre del modal */
  #synopsisModal .btn-close {
    color: white;
  }
  
  /* Estilo para el fondo del cuerpo del modal */
  #synopsisContent {
    background-color: #030637;
    color: white;
  }
  
  /* Estilo para el botón de cierre del modal */
  #synopsisModal .modal-footer .btn-secondary {
    background-color: #6f42c1; /* Puedes cambiar esto al color que desees */
    color: white;
  }
  
  /* Estilo para el botón de cierre del modal al pasar el ratón sobre él */
  #synopsisModal .modal-footer .btn-secondary:hover {
    background-color: #55308e; /* Puedes cambiar esto al color que desees */
    color: white;
  }


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}


/* navbar */
.navbar {
  font-size: 30px;
  background: #030637;
  border: 1px solid #030637;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Alinea verticalmente los elementos en la pantalla pequeña */
}

.nav-links {
  text-decoration: none;
  color: #9e02f9;
}

.divlogo {
  margin-left: 20px;
}

.logo {
  padding-left: 10px;
  font-size: 40px; 
  font-weight: bold;
  text-decoration: none; 
  color: #9e02f9;
  margin: 10px;
}

.main-nav li {
  text-align: center;
  margin: 15px 20px;
}

.navbar-toggle {
  display: none;
}

/* footer */
footer {
  background-color: #030637;
}

.footerContainer {
  width: 100%;
  padding: 50px 30px 20px 50px;
}

.mediaIcons {
  display: flex;
  justify-content: center;
}

.mediaIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #9e02f9;
  margin: 10px;
  border-radius: 50%;
}

.mediaIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.mediaIcons a:hover{
  background-color: #030637;
  transition: 0.5s;
}

.mediaIcons a:hover i{
  color: #9e02f9;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a{
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7s;
  transition: 0.5s;
  color: #9e02f9;
}

.footerNav ul li a:hover{
  opacity: 1;
}

.footerCopyright{
  padding: 20px;
  text-align: center;
}

.footerCopyright p{
  color: #9e02f9;
}

.designer{
  opacity: 0.7px;
  color: #9e02f9;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400px;
  margin: 0px 5px;
}

@media (max-width: 992px){
  .footerNav ul{
      display: flex;
      flex-direction: column;
  }
  .footerNav ul li{
      width: 100%;
      text-align:center;
      margin: 10px;
  }
}

@media screen and (max-width: 992px) {
  .main-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background: #030637;
    width: 100%;
    margin: 0;
    z-index: 1100;
  }

  .main-nav.active {
    display: flex;
  }

  .nav-links {
    margin: 10px 20px;
  }

  .logo {
    margin: 10px;
    padding-left: 20px;
  }

  .navbar-toggle {
  display: block;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 20px;
  color: #9e02f9;
  font-size: 30px;
  }

  .navbar-toggle i {
    margin-right: 10px;
  }
}
