* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background: #111;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  list-style-type: none;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en la pantalla pequeña */
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgb(158, 2, 249);
}

.main-nav li {
  text-align: center;
  margin: 15px 20px;
}

.logo {
  font-size: 22px;
  margin: 10px 20px;
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 992px) {
  .main-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: 0;
    background: black; 
    opacity: 0.9;/* Color de fondo con transparencia */
    width: 100%;
    margin: 0; /* Elimina el margen en la pantalla pequeña */
  }

  .main-nav.active {
    display: flex;
  }

  .nav-links {
    margin: 10px 20px;
  }

  .logo {
    margin: 10px;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgb(158, 2, 249);
    font-size: 24px;
  }

  .navbar-toggle i {
    margin-right: 10px;
  }
}
