* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #9e02f9;
    font-family: Poppins;
}

body {
    background-color: #030637;    
}

/*backgroundcard*/
.formbg {
    background-color: #030637;
    /* border: solid 1px #9500ff; */
}

hr{
    border: solid 2px;
    border-color: gray;
}

.mainhr {
    border: solid 2px;	
    border-color: #E26EE5;
    opacity: 1;
}


/*card buttons*/

.signinbutton {
  background-color: #E26EE5;
  color:white;
  border: #E26EE5 ;
 /*  border-radius: 30%;
  padding: 10px 15px;
  margin-right: 10px; */
}

.signinbutton:hover{
  background-color: #b346b7 !important;
  color:white !important;
  border: #b346b7 !important ;
}

.signupbutton {
  background-color: #C21292;
  color:white;
  border: #C21292 ;
  /* border-radius: 30%;
  padding: 10px 15px;
  margin-left: 10px; */
}

.signupbutton:hover{
  background-color: #910A67 !important;
  color:white !important;
  border: #910A67 !important;
}

/* navbar */
.navbar {
    font-size: 30px;
    background: #030637;
    border: 1px solid #030637;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .main-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 0; 
  }
  
  .nav-links {
    text-decoration: none;
    color: #9e02f9;
  }

  .nav-links:hover {
    color: #C21292;
    transition: 1s;
  }

  .divlogo {
    margin-left: 20px;
  }

  .logo {
    padding-left: 10px;
    font-size: 40px; 
    font-weight: bold;
    text-decoration: none; 
    color: #9e02f9;
    margin: 10px;
}

  .logo:hover {
    color: #C21292;
    transition: 1s;
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px 20px;
  }
  
  .navbar-toggle {
    display: none;
  }

/* footer */
footer {
    background-color: #030637;
}

.footerContainer {
    width: 100%;
    padding: 50px 20px;
}

.mediaIcons {
    display: flex;
    justify-content: center;
}

.mediaIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #9e02f9;
    margin: 10px;
    border-radius: 50%;
}

.mediaIcons a i{
    font-size: 2em;
    color: #030637;
    opacity: 0.9;
}

.mediaIcons a:hover{
    background-color: #030637;
    transition: 0.5s;
}

.mediaIcons a:hover i{
    color: #9e02f9;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7s;
    transition: 0.5s;
    color: #9e02f9;
}

.footerNav ul li a:hover{
  color: #C21292;
  transition: 1s;
}

.footerCopyright{
    padding: 20px;
    text-align: center;
}

.footerCopyright p{
    color: #9e02f9;
}

.designer{
    opacity: 0.7px;
    color: #9e02f9;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400px;
    margin: 0px 5px;
}


@media (max-width: 992px){
    .footerNav ul{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .footerNav ul li{
        width: 100%;
        text-align:center;
        margin: 10px;
    }
}

@media screen and (max-width: 992px) {
  .main-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    background: #030637;
    width: 100%;
    margin: 0;
    z-index: 1100;
  }

  .main-nav.active {
    display: flex;
  }

  .nav-links {
    margin: 10px 20px;
  }

  .logo {
    margin: 10px;
    padding-left: 10px;
  }

  .navbar-toggle {
  display: block;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 20px;
  color: #9e02f9;
  font-size: 30px;
  }

  .navbar-toggle i {
    margin-right: 10px;
  }
}

.navbar-toggle i:hover {
  color: #b537ff;
    transition: 1s;
}

@media screen and (max-width: 768px) {
  .logo{
    font-size: 30px;
  }
  .divlogo img {
    height: 50px;
    width: 50px
  }

}

/*overlay*/
.overlay {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }

/*newslinks*/

.newslinks {
    text-decoration: none;
    color: #9e02f9;
  }

  .newslinks:hover {
    color: #C21292;
    transition: 1s;
  } 

/*frontlinks*/

.frontlinks {
    color: white;
    text-shadow: 0 0 3px #FF0000 0 0 5px #0000FF;
  }

  .frontlinks:hover {
    color: #C21292;
    transition: 0.5s;
  }

/*secondary links*/
.firstsecondarylink {
    color: white;
    text-decoration: none;
}  

.firstsecondarylink h4 {
    text-align: justify;
}

.firstsecondarylink:hover {
    color: #C21292;
    transition: 0.5s;
}

h6 {
    color: white;
    text-align: justify;
}

.secondsecondarylink {
    color: #9e02f9;
    text-decoration: none;
}

.secondsecondarylink:hover {
    color: #C21292;
    transition: 0.5s;
}

/*cardstars*/

/* .card-stars:hover {
    color: #fd0050 !important;
    transition: 1s;
  } */